<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body style="margin-top: 10px; margin-left: 10px">
  <h1>Result</h1>
    <% @sudoku_task.each if @sudoku_task.present? do |solution| %>
      <table>
        <% (0..8).each do |i| %>
          <tr>
            <% (0..8).each do |j| %>
              <td>
                o
                <%= solution.("cell_#{i}_#{j}") %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  <span><%= link_to 'Back', sudoku_task_index_path, class: 'btn btn-primary' %></span>
</body>
</html>